<h3 class="my-5">
    contact us
</h3>
<div class="row gx-5">
    <img src="~/Images/beeshop.jpg" class="img-fluid col-5" />
    <div class="col-7">
        <h1> We'd Love to Hear from you'</h1>
        <h5>Please contac us by sending an email using the button bellow</h5>
        <email adress="info@@shopcenter.com" content="Contact us" class="btn btn-secondary">

        </email>
    </div>
</div>